<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict>
<key>CFBundleDisplayName</key><string>Planning Location</string>
<key>CFBundleName</key><string>PlanningLocation</string>
<key>CFBundleExecutable</key><string>PlanningLocation</string>
<key>CFBundlePackageType</key><string>APPL</string>
<key>CFBundleIdentifier</key><string>com.valincuservices.planninglocation</string>
<key>CFBundleShortVersionString</key><string>1.0</string>
<key>CFBundleVersion</key><string>2</string>
<key>UILaunchScreen</key><dict/>
</dict></plist>